<!DOCTYPE html>
<html>
<head>
  <title>Loginapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    </div>

    <nav class="a"> 
      <ul>
          <% if current_user %>
              Welcome <span class="info"><%= current_user.username %></span></br>
              You have logged in <span class="info"><%= current_user.count %> </span>times</br>
              </br> </br>
              <%= link_to "Log Out", logout_path, method: :delete %>
          <% end %>
       </ul>
     </nav>


</body>
</html>
